#contact {
    background: white;
    padding-bottom: 2em;
    color: var(--yellow);
}
#contactBtn {
     background-color:  var(--yellow);
     color: white;
 }

 #contactBtn:hover {
     color: var(--orange);
 }