.jumbotron {
    color: var(--orange);
    height: 100vh;

    background: url(../assets/goethDaff.jpg) center;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.display-4 {
    background-color: #ffe02fa2;
    margin-top: 1em;
    font-family: var(--font-two);
    font-style: Semi-bold;
    font-weight: 600;
    font-size: 6em;
    max-width: 43%;
}

 
/* .lead {
    font-family: var(--font-two);
    font-weight: 400;
    text-decoration: underline;
    font-size: 2.5em;
} */



