/* root is grabbing the "root" element of out HTML document (which in this case is our tag <html> */
:root {
    --yellow: #ffdf2f;
    --orange: #e56722;

    --font-one: "Amatic SC", cursive;
    --font-two: "Raleway", sans-serif;
}